/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-attachment:fixed;


    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.image h1{
    font-size:25px;
    font-weight:bold;
    font-style: space mono;
    margin:60px;
    overflow:visible;
    padding:0px 10px;
    text-align:center;
    color: navy;
    top: 50%;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.fixedbar {
    overflow:hidden;
    position: fixed;
    top:0;
    width:100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F1F1F1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #DCDCF0;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.logo2 {
    height:180px;
    width:180px;
    margin: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background: #ddd;
  color: black;
}

.image img{
    width:20%;
    position: absolute;
    top: 13%;
    margin-left: 20%;
}
p.section1{
    border: 2px solid navy;
    border-radius: 8px;
    height:150px;
}
p.section2{
    border: 2px solid navy;
    border-radius: 8px;
    height:150px;
}
.a:hover{
    color:white;
    background: navy;
    font-size: 10px
}

.footer {
    background-color: #222;
    color: white;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.button {
  font-family: Arial;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
}

.button1 {
  font-family: Arial;
  font-size: 25px;
  padding: 0px 20px 10px 20px;
}

.donate-btn{
  color: #DCDCF0;
  background: #000080;
}

.donate-btn:hover {
  background: #000080;
  background-image: -webkit-linear-gradient(top, #000080, #2929EC);
  background-image: -moz-linear-gradient(top, #000080, #2929EC);
  background-image: -ms-linear-gradient(top, #000080, #2929EC);
  background-image: -o-linear-gradient(top, #000080, #2929EC);
  background-image: linear-gradient(to bottom, #000080, #2929EC);
}

.shop-btn{
  color: #DCDCF0;
  background: #5757D8;
}

.shop-btn:hover{
  background: #5757D8;
  background-image: -webkit-linear-gradient(top, #5757D8, #A1A1D8);
  background-image: -moz-linear-gradient(top, #5757D8, #A1A1D8);
  background-image: -ms-linear-gradient(top, #5757D8, #A1A1D8);
  background-image: -o-linear-gradient(top, #5757D8, #A1A1D8);
  background-image: linear-gradient(to bottom, #5757D8, #A1A1D8);
}

.expl-btn{
  color: #DCDCF0;
  background: #0505CD;
}

.expl-btn:hover{
  background: #0505CD;
  background-image: -webkit-linear-gradient(top, #0505CD, #8787FE);
  background-image: -moz-linear-gradient(top, #0505CD, #8787FE);
  background-image: -ms-linear-gradient(top, #0505CD, #8787FE);
  background-image: -o-linear-gradient(top, #0505CD, #8787FE);
  background-image: linear-gradient(to bottom, #0505CD, #8787FE);
}

.button-text{
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
}
